.choose-Design {
    width: 100%;
    height: 550px;
    background: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    header {
        width: 60%;
        padding: 0 10%;

        div {
            display: flex;
            flex-direction: column;
            gap: 40px;

            h2 {
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #fff;                
                font-weight:400;
                line-height: 50px;
                font-size: 45px;
            }
            p {
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #fff;                
                font-weight: 500;
                line-height: 30px;
                font-size: 18px;
            }
        }
    }

    .background {
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
        position: relative;

        .design-1 {
            position: absolute;
            width: 70%;
            right: 40%;
            top: 10%;
        }
        .design-2 {
            width: 740px;
            position: absolute;
            bottom: -22%;
            right: -20%;
        }
        .design-3 {
            width: 690px;
            position: absolute;
            bottom: -35%;
            right: -35%;
        }
    }

}