.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .blogs {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: -60px;
    }
}
