.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .blogs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 0 100px;
        position: relative;
        top: -60px;
        box-sizing: border-box;
    }

}