.background-container {
    width: 100%;
    height: 70vh;
    background: url(../../../../assets/dashboard-bg2.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    h1 {
        font-size: 60px;
        color: #fff6ed;
    }
    p {
        color:rgba(240, 248, 255, 0.781);
        text-align: center;
        width: 350px;
    }
    button {
        all: unset;
        background-color: crimson;
        color: #fff;
        padding: 5px 15px;
        border-radius: 5px;
        
        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }
}