.millions {
    width: 100%;
    background: #e67400;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 86vh;
    position: relative;
    text-align: center;


    header {
        width: 60%;
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        z-index: 10;
        width: 750px;
        position: relative;
        top: 60px;
            
        h2 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            font-weight: 400;
            line-height: 50px;
            font-size: 45px;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            font-weight: 500;
            line-height: 30px;
            font-size: 18px;
        }
        button {
            all: unset;
            width: 180px;
            height: 55px;
            border-radius: 5px;
            background: #2f454f;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-size: 14px;
            margin-top: 45px;
            cursor: pointer;

            &:hover {
                background: #475a63;
            }
        }
    }

    .millions-background {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image:
            url(../../../../assets/millions-markers_2x.png),
            url(../../../../assets/millions-map_2x.png);
        background-size: cover, cover;
        background-position: center, center;
    }

}