body {
    background: #f5ece4;
    font-family: Arial, sans-serif;
}

.signup-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 40px;
    overflow: hidden;

    .signup-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        .signup-card {
            margin-bottom: 40px;
            padding: 40px 30px;
            width: 370px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .blogger {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                margin-bottom: 20px;
                gap: 10px;

                .blogger-Heading {
                    text-align: center;
                    font-size: 32px;
                    color: rgba(0, 0, 0, 0.87);
                    font-weight: bold;
                }
            }

            div {
                align-self: flex-start;

                h1 {
                    font-size: 32px;
                    color: #2b2b2b;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }

            .input-group {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;

                input {
                    width: 100%;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #ccc;
                    background: #ffffff;
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
                    font-size: 16px;
                }

                label {
                    position: absolute;
                    top: 25%;
                    left: 40px;
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    transition: all 0.3s ease;
                    pointer-events: none;
                    padding: 0 4px;
                }

                .user-icon,
                .email-icon,
                .password-icon {
                    position: absolute;
                    left: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    opacity: 0.7;
                }

                .showIcon {
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 23px;
                    cursor: pointer;
                }

                input:focus+label,
                input:not(:placeholder-shown)+label {
                    top: -8px;
                    left: 20px;
                    background-color: white;
                    font-size: 12px;
                    color: #000;
                }
            }

            .group-1 input {
                padding: 17px 10px 17px 40px;
            }

            .group-2 input {
                padding: 17px 10px 17px 40px;
            }

            .group-3 input {
                padding: 17px 50px 17px 40px;
            }

            button {
                padding: 12px 0;
                border-radius: 7px;
                border: 1px solid #ccc;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
                background: linear-gradient(90deg, #f47c20 0%, #ff8c32 100%);
                color: #fff;
                font-weight: 500;
                font-size: 18px;
                width: 100%;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }

            p {
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

                button {
                    all: unset;
                    color: rgb(0, 89, 255);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    .signup-bg {
        width: 50%;
        height: 100%;
        position: relative;

        .signup-illustrations {
            position: absolute;
            width: 100%;
            top: -50px;
            left: -100px;
        }
    }
}