.hero {
    width: 100vw;
    height: 700px;
    background: #bc382e;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .hero-header {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            font-weight: 400;
            font-size: 45px;
        }

        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: whitesmoke;
            font-weight: 500;
            font-size: 20px;
            margin-top: 7px;
        }

        button {
            all: unset;
            background: #ff8000;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 15px 20px;
            font-weight: 500;
            border-radius: 3px;
            margin-top: 30px;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }

    .hero-background {
        width: 100%;
        height: 50%;
        text-align: center;

        .red {
            display: none;

            .red-1 {
                width: 50vw;
                position: absolute;
                bottom: 0;
                height: 370px;
                left: 25vw;
                z-index: 10;
            }

            .red-2 {
                position: absolute;
                left: -100px;
                width: 19vw;
                top: 200px;
            }

            .red-3 {
                position: absolute;
                left: -70px;
                width: 17vw;
                top: 330px;
            }

            .red-4 {
                position: absolute;
                left: -55px;
                width: 19vw;
                top: 500px;
            }

            .red-5 {
                position: absolute;
                left: 220px;
                width: 5vw;
                top: 370px;
            }

            .red-6 {
                position: absolute;
                right: 245px;
                width: 9vw;
                top: 300px;
            }

            .red-7 {
                position: absolute;
                right: -90px;
                width: 25vw;
                top: 230px;
            }

            .red-8 {
                position: absolute;
                right: -100px;
                width: 25vw;
                top: 470px;
            }
        }

        .green {
            display: none;

            .green-1 {
                position: absolute;
                left: -110px;
                width: 20vw;
                top: 210px;
            }

            .green-2 {
                position: absolute;
                left: 210px;
                width: 10vw;
                top: 250px;
            }

            .green-3 {
                position: absolute;
                right: -50px;
                width: 15vw;
                top: 230px;
            }

            .green-4 {
                position: absolute;
                right: 90px;
                width: 16vw;
                top: 500px;
            }

            .green-5 {
                position: absolute;
                left: 130px;
                width: 6vw;
                top: 498px;
            }

            .green-6 {
                position: absolute;
                right: 200px;
                width: 7vw;
                top: 370px;
            }

            .green-7 {
                position: absolute;
                right: 300px;
                width: 7vw;
                top: 290px;
            }

            .green-8 {
                position: absolute;
                left: 80px;
                width: 15vw;
                top: 575px;
            }

            .green-9 {
                width: 50vw;
                position: absolute;
                bottom: 0;
                height: 370px;
                left: 25vw;
                z-index: 10;
            }
        }

        .blue {
            display: block;

            .blue-1 {
                position: absolute;
                left: -100px;
                top: 220px;
                width: 22vw;
            }
            .blue-2 {
                position: absolute;
                bottom: 0;
                left: 25vw;
                width: 50vw;
                height: 370px;
                z-index: 10;
            }
            .blue-3 {
                position: absolute;
                right: 60px;
                top: 553px;
                width: 20vw;
            }
            .blue-4 {
                position: absolute;
                right: 90px;
                top: 380px;
                width: 10vw;
            }
            .blue-5 {
                position: absolute;
                right: -100px;
                top: 200px;
                width: 20vw;
            }
            .blue-6 {
                position: absolute;
                left: 180px;
                top: 580px;
                width: 11vw;
            }
            .blue-7 {
                position: absolute;
                left: -60px;
                top: 530px;
                width: 16vw;
            }
        }
    }
}