.blog-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    z-index: 999;
}

.blog-modal {
    width: 70%;
    max-height: 85vh;
    overflow-y: auto;
    background: white;
    border-radius: 12px;
    padding: 25px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    background: rgb(238, 238, 238);
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.modal-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

.blog-text {
    white-space: pre-line;
    font-size: 17px;
    line-height: 1.5;
}

.author-box {
    margin-top: 20px;
    padding: 12px;
    background: #f7f7f7;
    border-radius: 8px;
}

.actions {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.edit-btn,
.delete-btn,
.save-btn,
.cancel-edit-btn {
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.edit-btn { background: #007bff; color: #fff; }
.delete-btn { background: #e63946; color: #fff; }
.save-btn { background: #2a9d8f; color: white; }
.cancel-edit-btn { background: #ccc; color: #000; }

.edit-title, .edit-content {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}